# Flask and web framework dependencies
Flask>=3.0.0
Flask-SocketIO>=5.3.0
Flask-Login>=0.6.3  # Added for web user session management
Werkzeug>=3.0.0     # For password hashing 

# MQTT client library
paho-mqtt>=2.0.0

gunicorn>=21.0.0
